* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none !important;
}

div {
  display: block;
}

.header {
  position: relative;
}

.top-header {
  padding: 10px 0px;
  padding-left: 10%;
  background-color: #fff;
}

div.login-container {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}

.login-container a {
  display: inline-block;
  padding: 14px 16px;
  color: #212121;
}

.login-container a:hover {
  color: #70c5c0;
}

.bottom-header {
  padding: 0px;
  overflow: hidden;
  background-color: #70c5c0;
}

div.bottom-header {
  padding-left: 15%;
}

.bottom-header a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  height: 75px;
  line-height: 200%;
}

.bottom-header a:hover {
  background-color: white;
  color: black;
}

.bottom-header .search-container {
  float: right;
  margin-right: 50px;
}

.bottom-header input[type="text"] {
  padding: 12px 16px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.bottom-header .search-container button {
  float: right;
  padding: 12px 16px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.bottom-header .search-container button:hover {
  background-color: #111;
  color: whitesmoke;
}

.wrapper {
  box-sizing: content-box;
  width: 97%;
  height: auto;

  margin: auto;
  margin-top: 50px;
  padding: 0px;
}
.wrapper-product {
  position: relative;
  display: block;
  overflow: hidden;
}

.sidenav {
  position: relative;
  float: left;
  width: 20%;
  margin: 0px 20px 50px 0px;
  margin-bottom: 10%;
  border-top: 0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidenav dl dt {
  padding: 5px 0px;
  background-color: #666666;
  color: #f5f5f5;
  text-align: center;
}

.sidenav dl {
  margin: 0px;
  padding: 0px;
}

.sidenav dl dd {
  background-color: #fff;
  margin-bottom: 0px;
}

.sidenav dl dd a {
  display: block;
  padding: 5px 0px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.sidenav dl dd a:hover {
  background-color: #ddd;
  color: black;
}
/*index css*/
.container {
  float: left;
  position: relative;
  width: 75%;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 50px 0px;
  background-color: white;
}

.card {
  float: left;
  max-width: 185px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 0px 5px 20px 5px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card p:last-child {
  margin-bottom: 0px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #70c5c0;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  opacity: 0.7;
}

.card button:hover {
  opacity: 1;
}

.card > img {
  width: 100%;
  max-height: 276px;
}

.new,
.sale {
  position: absolute;
  top: 0;
  right: 0;
}

.card-wrapper {
  display: block;
  float: left;
  align-self: center;
}

.pagination-wrapper {
  display: block;
  clear: left;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .middle {
  opacity: 1;
}

.card:hover h6:hover {
  color: #fe980f;
}

.hot-product-wrapper {
  display: block;
  margin-left: 60px;
}

/*product detail css*/
.container-product-detail {
  float: left;
  position: relative;
  width: 75%;
  margin: 0px 20px 20px 20px;
  margin-right: 0px;
  padding: 10px;
  /*background-color: #f5f5f5;*/
}
.view-product {
  position: relative;
  width: auto;
}
.image-show {
  float: left;
  width: 35%;
  height: 460px;
  background-position: 50%;
}
.product-info {
  float: left;
  width: 60%;
  height: auto;
  margin-left: 5px;
  padding: 10px 20px;
  text-align: justify;
  background-color: #fff;
  border: 1px solid #f7f7f0;
}
.product-name {
  text-align: center;
  font-size: 1.875rem;
}
.product-price {
  margin-top: 15px;
  color: red;
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.seen {
  margin-top: 10px;
}
.seen > div {
  border-right: #666666 solid 1px;
  font-size: 0.875rem;
  color: #767676;
  text-transform: capitalize;
  padding: 0px 10px;
}
.flex div:last-child {
  border-right: 0;
}
.amount {
  margin-left: 10px;
  margin-bottom: 20px;
}

.amount button {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  padding: 0px 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 2rem;
  height: 2rem;
}
.amount button:hover {
  background-color: #999;
  color: #fff;
}
.amount input[type="number"] {
  width: 3.125rem;
  height: 2rem;
  text-align: center;
  cursor: text;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-detail-info {
  float: left;
  width: 60%;
  height: auto;
  margin-left: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #f7f7f0;
}

.product-detail-label {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 20px;
}

.detail-row {
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
}
.detail-row label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  width: 6.25rem;
  margin-right: 2.5rem;
}
.same-product-container {
  width: 90%;
  margin: auto;
  padding-top: 30px;
  background-color: white;
}
.same-product-container h2 {
  text-align: center;
}
.same-product-list {
  width: 90%;
  margin-left: 12%;
  overflow: hidden;
}

/*footer css*/
.footer {
  float: left;
  display: block;
  width: 100%;
  background-color: #212121;
  color: #999;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  margin-bottom: 0px;
}

.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
.modal-login.modal-dialog {
  margin-top: 80px;
}
.modal-login .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.register-contain {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 100px;
  padding-bottom: 100px;
  border-radius: 20px;
}

.register-contain .row {
  margin-bottom: 20px;
}
.register-contain input,
select {
  margin-top: 0px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  color: #60c7c1;
}

.container-cart {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 50px;
  width: 90%;
  background-color: white;
}

thead {
  vertical-align: middle;
}

.container-cart table thead,
.container-cart table .price {
  background-color: #60c7c1;
  color: white;
}

.container-cart table tbody tr td {
  vertical-align: inherit;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cart_image img {
  width: 100px;
  height: 100px;
}

.total-price,
.order {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
